@use 'src/styles/utilities/variables' as v;
@use 'src/styles/utilities/colors';
@use 'src/styles/utilities/mixins' as m;

#customers-say {
  background-color: colors.$lists-grey;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 7rem 0 7.6rem;

  #customers-say-images {
    position: relative;
    height: 60.7rem;
    width: 100%;

    #customers-say-image {
      position: absolute;
      top: 0;
      left: 0;
      height: 43.8rem;
      z-index: 20;
    }
    .rectangle {
      position: absolute;
      top: 5rem;
      height: 42.8rem;
      width: 100%;
      border: v.$main-border;
      border-right: none;
      border-left: none;
      z-index: 10;
    }
    #feedback-tooltip {
      width: 34.3rem;
      top: 5.6rem;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      padding: 3.2rem 1.6rem 4.8rem;
      z-index: 30;

      .author {
        margin-top: 3rem;
      }
      .toolbar {
        display: flex;
        justify-content: space-between;
        margin-top: 2.4rem;

        > a {
          cursor: pointer;
        }
        .arrow {
          border: solid colors.$white;
          border-width: 0 0.2rem 0.2rem 0;
          display: inline-block;
          padding: 0.5rem;
        }
        .right {
          transform: rotate(-45deg);
        }
        .left {
          transform: rotate(135deg);
        }
      }
    }
  }

  #customers-say-content {
    width: min-content;
    margin: 0 auto;
    padding-top: 4.2rem;

    #customers-say-title {
      white-space: pre-line;
      margin-bottom: 3.2rem;
      @include m.title-01;
    }
    > a {
      color: colors.$accent-orange;
      @include m.main-font;
    }
  }
}

@media (min-width: v.$layout-breakpoint-mobile) {
  #customers-say {
    padding: 8rem 0 5.2rem;

    #customers-say-images {
      height: 52.8rem;
      width: initial;

      #customers-say-image {
        width: max-content;
        height: initial;
      }
      .rectangle {
        top: 4rem;
        left: 14rem;
        width: 61.1rem;
        border: v.$main-border;
      }
      #feedback-tooltip {
        top: 8rem;
        left: 37.2rem;
        width: 45.9rem;
        padding: 3.2rem 2.8rem 3.2rem 3.2rem;
        margin: 0;

        .author {
          margin-top: 1.2rem;
        }
        .toolbar {
          .right {
            margin: 0;
          }
        }
      }
    }

    #customers-say-content {
      width: 38.6rem;
      margin: 8.1rem 13.5rem 0 0;
      padding-top: 0;

      #customers-say-title {
        margin-bottom: 6.4rem;
      }
    }
  }
}
