$white: #fff;
$black: #000;

$type-dark: #363740;
$type-light-passive: #a4a6b3;

$accent-orange: #fc7d58;
$accent-orange-light: #f18b6e;
$accent-orange-disabled: #c4b9b6;

$bg-error-selected: #ffd1d1;
$bg-accent-orange: #ffeae4;
