@import './colors';

@mixin main-font {
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: 0.03rem;
}

@mixin main-font-small-spacing {
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: -0.022em;
}

@mixin large-font {
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 0.03rem;
}

@mixin input-placeholder {
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: $type-light-passive;
}

@mixin title-01 {
  font-size: 5.2rem;
  line-height: 6.4rem;
  font-weight: 900;
}

@mixin section-title-2 {
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -0.022em;
  font-weight: 900;
}

@mixin section-title-4 {
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 800;
  letter-spacing: -0.022em;
}

@mixin larger-font {
  font-size: 2.4rem;
  line-height: 3.3rem;
  font-weight: 600;
}

@mixin larger-font-small-spacing {
  font-size: 2.4rem;
  line-height: 3.3rem;
  font-weight: 700;
  letter-spacing: -0.022em;
}

@mixin body-02 {
  font-size: 2rem;
  line-height: 2.7rem;
  letter-spacing: -0.022em;
}

@mixin success-font {
  font-weight: 900;
  font-size: 8rem;
  line-height: 4.8rem;
  letter-spacing: -0.022em;
}

@mixin tooltip-box-shadow {
  box-shadow: 2rem 2rem 3rem rgba($black, 0.16);
}

@mixin testimonial-body-01 {
  font-family: 'Nunito Sans Italic';
  font-size: 2.1rem;
  line-height: 2.9rem;
  letter-spacing: -0.022em;
}
