@use 'styles/utilities/colors';
@use 'styles/utilities/mixins' as m;

.custom-button {
  height: 4.6rem;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 0.6rem;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: colors.$white;
  background: colors.$accent-orange;
  padding: 0 3rem;
  box-shadow: 0 0.4rem 2rem rgba(colors.$black, 0.15);
  @include m.main-font;

  &:focus {
    outline: none;
  }
  &:hover {
    background: colors.$accent-orange-light;
  }
}

.search-button {
  position: absolute;
  right: 0;
  box-shadow: none;
}

.outline {
  background-color: transparent;
  border: 0.2rem solid colors.$accent-orange;
  color: colors.$accent-orange;
  box-shadow: none;

  &:hover {
    background-color: transparent;
  }
}
