@use 'src/styles/utilities/variables' as v;
@use 'src/styles/utilities/colors';
@use 'src/styles/utilities/mixins' as m;

#services {
  background-color: colors.$lists-grey;
  margin: 0;

  .service-row {
    display: flex;
    flex-direction: column;

    .service-content {
      padding: 6rem 0 0 0;
      width: 100%;

      .service-content-container {
        padding: 0 1.6rem 2rem;

        #service-header {
          margin-bottom: 1.6rem;
          text-transform: uppercase;
          color: colors.$dark-hover;
          @include m.body-02;
          font-weight: 900;
        }
        .service-title {
          margin-bottom: 3.2rem;
          white-space: pre-line;
          @include m.title-01;
        }
        .service-description {
          margin-bottom: 3.6rem;
          @include m.body-01;
        }
        .custom-button {
          width: 100%;
        }
      }
    }
  }
  .service-row-0 {
    margin-bottom: 0;

    #service-images-container-0 {
      position: relative;
      height: 64rem;
      width: 100%;
      margin-top: 1.6rem;
      margin-right: 0;

      #service-image-0 {
        position: absolute;
        top: 0;
        right: 0;
        width: 87%;
        z-index: 10;
      }
      #service-rectangle-0 {
        position: absolute;
        height: 52.8rem;
        width: 100%;
        top: 2rem;
        border: v.$main-border;
        border-left: none;
        border-right: none;
        z-index: 5;
      }
      #tooltip-0 {
        padding: 3.2rem 1.5rem 2.4rem 3rem;
        width: 95%;
        bottom: 0;
        right: 0;
      }
    }
  }
  .service-row-1 {
    flex-direction: column-reverse;
    margin-bottom: 0;

    #service-images-container-1 {
      position: relative;
      height: 55rem;
      width: 100%;
      margin-left: 0;

      #service-image-1 {
        position: absolute;
        right: 0;
        top: 2.5rem;
        width: 95%;
        z-index: 10;
      }
      #service-rectangle-1 {
        position: absolute;
        height: 36.3rem;
        width: 30rem;
        top: 0;
        right: 0;
        border: v.$main-border;
        border-right: none;
        z-index: 5;
      }
      #tooltip-1 {
        padding: 3.2rem 1rem 3.2rem 1.6rem;
        width: 100%;
        top: 11.4rem;
      }
    }
  }
  .service-row-2 {
    flex-direction: column;
    margin-bottom: 0;

    #service-images-container-2 {
      position: relative;
      width: 100%;
      height: 75.9rem;
      margin-left: 0;
      margin-top: 2.4rem;

      #service-image-2 {
        position: absolute;
        width: auto;
        z-index: 10;
      }
      #service-rectangle-2 {
        position: absolute;
        height: 36.3rem;
        width: 33.1rem;
        bottom: 0;
        right: 0;
        border: v.$main-border;
        border-right: none;
        z-index: 5;
      }
      #tooltip-2 {
        position: absolute;
        right: 0;
        bottom: 1.6rem;
        padding: 3.2rem 1.8rem 3.2rem 2.8rem;
        width: 95%;
      }
    }
  }
  .service-row-3 {
    flex-direction: column-reverse;

    #service-images-container-3 {
      position: relative;
      width: 100%;
      height: 66.1rem;
      margin-left: 0;
      margin-top: 2.4rem;
      margin-bottom: 6rem;

      #service-image-3 {
        position: absolute;
        width: auto;
        z-index: 10;
      }
      #service-rectangle-3 {
        position: absolute;
        height: 36.3rem;
        width: 33.1rem;
        bottom: 0;
        right: 0;
        border: v.$main-border;
        border-right: none;
        z-index: 5;
      }
      #tooltip-3 {
        position: absolute;
        left: 0;
        bottom: 4rem;
        padding: 3.2rem 2.8rem 3.2rem 1.8rem;
        width: 95%;

        .author {
          white-space: normal;
        }
      }
    }
  }
}

@media (min-width: v.$layout-breakpoint-mobile) {
  #services {
    margin: 0 4.9rem;

    .service-row {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;

      .service-content {
        padding: 6rem 7rem;
        width: 63rem;

        .service-content-container {
          #service-header {
            margin-bottom: 3.2rem;
          }
          .service-title {
            margin-bottom: 4rem;
          }
          .service-description {
            margin-bottom: 4.4rem;
          }
        }
      }
    }
    .service-row-0 {
      align-items: flex-end;
      margin-bottom: 8rem;

      #service-images-container-0 {
        width: 57.7rem;
        margin-top: 0;
        margin-right: 8.6rem;

        #service-image-0 {
          top: 4rem;
          right: 0;
          width: auto;
        }
        #service-rectangle-0 {
          width: 52.6rem;
          top: 6rem;
          left: 0;
          border: v.$main-border;
        }
        #tooltip-0 {
          padding: 3.2rem 3rem;
          width: 42rem;
          bottom: 0;
          right: 8.9rem;
        }
      }
    }
    .service-row-1 {
      align-items: flex-start;
      margin-bottom: 2.9rem;

      #service-images-container-1 {
        width: 63.2rem;
        height: 55rem;
        margin-left: 3.2rem;

        #service-image-1 {
          width: auto;
        }
        #service-rectangle-1 {
          width: 36.3rem;
          right: 2rem;
          border: v.$main-border;
        }
        #tooltip-1 {
          padding: 3.2rem;
          width: 42.4rem;
          left: 0;
          top: 15.4rem;
        }
      }
    }
    .service-row-2 {
      align-items: center;
      margin-bottom: 8rem;

      #service-images-container-2 {
        width: 63.2rem;
        height: 64.7rem;
        margin-right: 3rem;
        margin-top: 0;

        #service-image-2 {
          width: auto;
          top: 0;
          left: 0;
        }
        #service-rectangle-2 {
          width: 36.3rem;
          right: 12.9rem;
          border: v.$main-border;
        }
        #tooltip-2 {
          width: 47.2rem;
          padding: 4.2rem 3rem 3.2rem;
        }
      }
    }
    .service-row-3 {
      align-items: center;

      #service-images-container-3 {
        width: 57.5rem;
        height: 60.4rem;
        margin-left: 8.8rem;
        margin-top: 0;
        margin-bottom: 13.6rem;

        #service-image-3 {
          width: auto;
          top: 0;
          left: 0;
        }
        #service-rectangle-3 {
          width: 36.3rem;
          right: 11.9rem;
          border: v.$main-border;
        }
        #tooltip-3 {
          width: 44.2rem;
          padding: 3.2rem 3rem;
          right: 0;
          left: auto;
          bottom: 4rem;

          .author {
            white-space: pre-line;
          }
        }
      }
    }
  }
}
