@import './colors';

@mixin main-font {
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: 0.03rem;
}

@mixin large-font {
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 0.03rem;
}

@mixin input-placeholder {
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: $type-light-passive;
}
