@import './fonts.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
}

body {
  font-family: 'Nunito Sans', 'Segoe UI', Ubuntu, Cantarell, Arial, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: #363740;
  overflow-x: hidden;
}