@use 'utilities/colors';
@use 'utilities/variables' as v;

@import './fonts.scss';
@import './navigation.scss';
@import './input.scss';
@import './button.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
}

body {
  font-family: 'Nunito Sans', 'Segoe UI', Ubuntu, Cantarell, Arial, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: colors.$white;
  color: colors.$type-dark;
}

.content {
  margin-top: v.$nav-height-mobile;

  @media (min-width: v.$layout-breakpoint-mobile) {
    margin-top: v.$nav-height;
  }
}

.tracking-number-container {
  display: flex;
  width: 30.9rem;
  position: relative;
}
