@use '../../styles/utilities/variables' as v;
@use '../../styles/utilities/colors';
@use '../../styles/utilities/mixins' as m;

footer {
  margin-top: auto;
  padding: 1.8rem 0 10.8rem;
  background-color: colors.$type-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  @include m.main-font-small-spacing;

  .footer-header {
    font-family: 'Nunito Sans Bold';
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: colors.$white;
  }

  ul {
    color: colors.$accent-orange-disabled;

    li {
      margin-bottom: 1.6rem;
      cursor: pointer;
    }
  }

  .footer-column {
    padding-left: 4.6rem;
    margin-bottom: 2.4rem;

    > ul {
      padding-left: 3rem;
    }
  }

  .details {
    .footer-title {
      font-size: 2.7rem;
      line-height: 4.8rem;
      font-weight: 900;
      letter-spacing: -0.022em;
      color: colors.$accent-orange;
      margin-bottom: 2.4rem;
    }
    .location {
      margin-bottom: 2.4rem;

      .location-item {
        display: flex;
        align-items: center;
        color: colors.$white;
        margin-bottom: 1.2rem;

        > span {
          margin-right: 0.8rem !important;
        }
      }
    }
    .social-media {
      color: colors.$white;

      .social-icons {
        margin-top: 0.8rem;

        > span {
          margin-right: 3.2rem !important;
        }
      }
    }
  }

  .legal {
    > ul > li.hidden {
      visibility: hidden;
    }

    .business-owner {
      margin-bottom: 1.6rem;
      color: colors.$bg-error-selected;
    }
  }

  .trust-badge-container-desktop {
    display: none;
  }

  .trust-badge-container-mobile {
    text-align: center;
  }
}

@media (min-width: v.$layout-breakpoint-mobile) {
  footer {
    padding: 4rem 28.4rem 9rem 13.5rem;
    flex-direction: row;

    .footer-column {
      padding-left: 0;
      margin-bottom: 0;
    }

    .trust-badge-container-desktop {
      display: initial;
      position: absolute;
      margin-top: 4.6rem;
    }

    .trust-badge-container-mobile {
      display: none;
    }
  }
}
