@use '../../styles/utilities/colors';
@use '../../styles/utilities/variables' as v;

.circle-external {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 12rem;
  border: v.$main-border;
  border-radius: 50%;

  .circle-internal {
    width: 10rem;
    height: 10rem;
    border: 0.2rem solid colors.$accent-orange;
    border-radius: 50%;
  }
}
