@use 'styles/utilities/variables' as v;
@use 'styles/utilities/colors';
@use 'styles/utilities/mixins' as m;

#digital-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: colors.$lists-grey;
  padding: 6rem 0 5.4rem;

  #digital-tools-title {
    @include m.title-02;
    margin-bottom: 2.4rem;
    text-align: center;
  }
  #digital-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2.8rem;

    .tool-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 32rem;
      min-height: 40.2rem;
      margin: 0 0.8rem 2.4rem;
      padding: 3.2rem 3rem 3.6rem;
      background-color: colors.$white;
      box-shadow: v.$drop-shadow;

      .tool-title {
        margin-bottom: 1.6rem;
        @include m.section-title-4;
      }
      .tool-description {
        @include m.body-02;
      }
      .custom-button {
        min-width: 19.4rem;
        padding: 0 4rem;
      }
    }
  }
  .custom-button.outline {
    width: 29.6rem;
  }
}

@media (min-width: v.$layout-breakpoint-mobile) {
  #digital-tools {
    padding: 6rem 0;

    #digital-tools-title {
      margin-bottom: 6rem;
    }
    #digital-items-container {
      margin-bottom: 3.6rem;
    }
  }
}
