@use 'utilities/colors';
@use 'utilities/variables' as v;

@import './fonts.scss';
@import '../components/Navigation/navigation.module.scss';
@import '../components/Footer/footer.module.scss';
@import '../components/SearchInput/searchInput.module.scss';
@import '../components/Button/button.module.scss';
@import '../components/Circles/circles.module.scss';
@import '../components/Tooltip/tooltip.module.scss';
@import '../components/Wave/wave.module.scss';

@import '../components/templates/home/intelligent_supply/intelligentSupply.module.scss';
@import '../components/templates/home/digital_tools/digitalTools.module.scss';
@import '../components/templates/home/success_numbers/successNumbers.module.scss';
@import '../components/templates/home/customers_say/customersSay.module.scss';
@import '../components/templates/home/how_it_works/howItWorks.module.scss';
@import '../components/templates/home/services/services.module.scss';
@import '../components/templates/home/optimal_clients/optimalClients.module.scss';
@import '../components/templates/home/ready_to_ship/readyToShip.module.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
}

body {
  font-family: 'Nunito Sans', 'Segoe UI', Ubuntu, Cantarell, Arial, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: colors.$white;
  color: colors.$type-dark;
  overflow-x: hidden;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.content {
  margin-top: v.$nav-height-mobile;

  @media (min-width: v.$layout-breakpoint-mobile) {
    margin-top: v.$nav-height;
  }
}

.tracking-number-container {
  display: flex;
  width: 30.9rem;
  position: relative;
}
