@use 'utilities/variables' as v;
@use 'utilities/colors';
@use 'utilities/mixins' as m;

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: colors.$white;
  height: v.$nav-height-mobile;
  box-shadow: 0 0 0.5rem rgba(colors.$black, 0.05);
  padding: 0 1.6rem 0 2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  .logo {
    cursor: pointer;
  }
  .nav-collapse {
    display: none;
  }
  .toggler {
    cursor: pointer;
  }
  .nav-menu {
    width: 0;
    height: 100vh;
    position: absolute;
    top: v.$nav-height-mobile;
    left: 0;
    background-color: rgba(colors.$type-dark, 0.3);
    transition: 0.5s;

    .nav-menu-container {
      height: 100%;
      background-color: colors.$white;
      margin-right: 1.6rem;

      .tracking-number-container {
        width: calc(100% - 1.6rem);
        padding: 2.4rem 1.6rem 4.8rem;

        > input {
          width: 100%;
        }
      }
    }

    &.visible {
      width: 100%;
      transition: 0.5s;
    }
  }
  .nav-links {
    display: flex;
    flex-direction: column;

    > a {
      text-decoration: none;
      padding: 1.4rem 1.6rem;
      color: colors.$type-dark;
      @include m.large-font;
    }
  }
  .search-container {
    display: none;
  }
}

@media (min-width: v.$layout-breakpoint-mobile) {
  .nav {
    height: v.$nav-height;
    box-shadow: none;
    padding: 0 3.2rem 0 1.2rem;
    justify-content: initial;

    .nav-collapse {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .nav-links {
      flex-direction: row;

      > a {
        letter-spacing: -0.022em;
        height: v.$nav-height;
        width: 11.1rem;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 0.4rem solid transparent;
      }

      & .active {
        border-bottom: 0.4rem solid colors.$accent-orange;
      }
    }
    .nav-menu {
      display: none;
    }
    .toggler {
      display: none;
    }
    .search-container {
      display: flex;
      align-items: center;

      .old-website-button {
        position: relative;
        background: colors.$white;
        box-shadow: 0 0.4rem 2rem rgba(colors.$black, 0.15);
        border-radius: 0.8rem;
        padding: 0 1.6rem;
        display: flex;
        align-items: center;
        margin-right: 1.4rem;
        white-space: nowrap;
        cursor: pointer;
        @include m.main-font;

        > span {
          margin-left: 0.4rem !important;
        }
        .old-website-tooltip {
          display: none;
        }
        &:hover {
          .old-website-tooltip {
            background-color: colors.$white;
            border-radius: 1.2rem;
            display: initial;
            position: absolute;
            top: 7.8rem;
            left: -6.5rem;
            white-space: normal;
            width: 39.4rem;
            padding: 2rem;
            text-align: center;
            filter: drop-shadow(0 0.4rem 2.4rem rgba(colors.$black, 0.25));
            @include m.large-font;

            &::before {
              content: '';
              display: block;
              width: 6.8rem;
              height: 2.4rem;
              position: absolute;
              top: 0.4rem;
              right: 15rem;
              transform: rotate(45deg);
              background: transparent;
              z-index: -1;
              background-color: colors.$white;
            }
          }
        }
      }
    }
  }
}

@media (max-width: v.$layout-breakpoint-tab) {
  .nav .search-container .old-website-button {
    display: none;
  }
}
